*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark: #212529;
  --white: white;  
  --grey: #707070;
  --sky: #C9F9FF;
  --thin: 200;
  --regular: 400;
  --bold: 700;
}

* {
  margin: 0px;
  border: 0px;
  
  font-family: 'Roboto Slab', serif;
  font-family: 'Roboto', sans-serif;
}

.logo-viajes{
    width: 53px;
    height: 53px;
}

.icono-container{
    width: 194px;
    height: 184px;
    border-radius: 50%;
    background-color: var(--sky);
}

.card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 473px;
    border-radius: 11px;
}

.card1{
    background-image: url(../img/card1.jpg);
}

.card2{
    background-image: url(../img/card2.jpg);
}

.card3{
    background-image: url(../img/card3.jpg);
}

.card4{
    background-image: url(../img/card4.jpg);
}