*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark: #212529;
  --white: white;  
  --grey: #DDDDDD;
  --sky: #5bc0de;
  --thin: 300;
  --regular: 400;
  --bold: 700;
}

* {
  margin: 0px;
  border: 0px;
  
  
  font-family: 'Roboto', sans-serif;
}

.logo-viajes{
    width: 53px;
    height: 53px;
}
.padding-nav{
    padding: 0 10vw;
}

.navegacion{
    color: var(--grey);
    font-size: 1.25rem;
    font-weight: var(--regular);    
    line-height: 1.43rem;;
    letter-spacing: 0.05em;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
}

header .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 10px;   
    
  }


header h1{
    font-family: 'Roboto Slab', serif;
    color: var(--grey);
    font-size: 3.75rem;
    font-weight: var(--bold);    
    line-height: 114.7%;
    letter-spacing: 0.065em;
    text-shadow: 0px 4px 8px rgba(255, 253, 253, 0.2);
}

header p{
    
    color: var(--grey);
    font-size: 1.1rem;
    font-weight: var(--regular);    
    line-height: 128.19%;;
    letter-spacing: 0.1em;
    text-shadow: 0px 4px 8px rgba(255, 253, 253, 0.2);}

    


.quienes-somos h3 {
    font-family: 'Roboto Slab', serif;
    color: var(--grey);
    font-size: 1.56rem;
    font-weight: var(--regular);    
    line-height: 114.7%;
    letter-spacing: 0.065em;
    text-shadow: 0px 4px 8px rgba(255, 253, 253, 0.2);

}



.quienes-somos h2 {
    font-family: 'Roboto Slab', serif;
    color: var(--grey);
    font-size: 3.43rem;
    font-weight: var(--bold);    
    line-height: 114.7%;
    letter-spacing: 0.065em;
    text-shadow: 0px 4px 8px rgba(255, 253, 253, 0.2);

}

.quienes-somos .info h3{
    font-size: 1.56rem;
    font-weight: var(--bold);
    color: var(--dark);
}

.quienes-somos .info p{
    font-size: 1rem;
    font-weight: var(--thin);
    color: var(--dark);
    line-height: 114.7%;
    letter-spacing: 0.1em;
    text-shadow: 0px 4px 8px rgba(255, 253, 253, 0.2);
}
.quienes-somos .info h5{
    font-size: 1rem;
    font-weight: var(--bold);
    color: var(--dark);
    line-height: 136.69%;
    letter-spacing: 0.1em;
    text-shadow: 0px 4px 8px rgba(255, 253, 253, 0.2);
}
.quienes-somos .icono-container{
    width: 194px;
    height: 184px;
    border-radius: 50%;
    background-color: var(--sky);
    
}

.quienes-somos .icono-container i{
    color: var(--white);
}

.destacados h3{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: var(--bold);
    color: var(--grey);
    line-height: 114.7%;
    letter-spacing: 0.065em;
    text-shadow: 0px 4px 8px rgba(255, 253, 253, 0.2);
}

.destacados h2{
    font-family: 'Roboto Slab', serif;
    font-size: 3.44rem;
    font-weight: var(--bold);
    color: var(--grey);
    line-height: 114.7%;
    letter-spacing: 0.065em;
    text-shadow: 0px 4px 8px rgba(255, 253, 253, 0.2);
}


/* background card */
.destacados .card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    border-radius: 11px;
}

/* font card */

.destacados .card .card-title{
    
    font-size: 1.43rem;
    font-weight: var(--bold);
    color: var(--grey);
    line-height: 114.7%;
    letter-spacing: 0.05em;
    text-shadow: 0px 4px 8px rgba(255, 253, 253, 0.2);

}

.destacados .card .card-text {
    
    font-size: 0.68rem;
    font-weight: var(--regular);
    color: var(--grey);
    line-height: 136.69%;
    letter-spacing: 0.05em;
    text-shadow: 0px 4px 8px rgba(255, 253, 253, 0.2);

}

.destacados .card small {
    
    font-size: 0.68rem;
    font-weight: var(--bold);
    color: var(--grey);
    line-height: 136.69%;
    letter-spacing: 0.1em;
    text-shadow: 0px 4px 8px rgba(255, 253, 253, 0.2);

}

.destacados .card1{
    background-image: url(../img/card1.jpg);
}

.destacados .card2{
    background-image: url(../img/card2.jpg);
}

.destacados .card3{
    background-image: url(../img/card3.jpg);
}

.destacados .card4{
    background-image: url(../img/card4.jpg);
}

.contacto h3{
    
    font-family: 'Roboto Slab', serif;
    color: var(--grey);
    font-size: 3.44rem;
    font-weight: var(--bold);    
    line-height: 114.7%;
    letter-spacing: 0.065em;
    text-shadow: 0px 4px 8px rgba(255, 253, 253, 0.2);
}

footer .card .card-footer small{
    
    font-size: 0.68rem;
    font-weight: var(--bold);
    color: var(--grey);
    line-height: 136.69%;
    letter-spacing: 0.1em;
    text-shadow: 0px 4px 8px rgba(255, 253, 253, 0.2);

}


@media (min-width: 575px)  and (max-width: 991px){
    .card-deck .card{
        flex: 1 1 100%;
        margin-bottom: 15px;
    }
    
    .destacados .card{        
        height: 280px;
        margin-right: 0;
    }
}

@media (min-width: 767px)  and (max-width: 991px){
    header .text-box-slide h1{
        font-size: 2.1rem;
      }
}

@media (max-width: 767px) {
    header .text-box-slide h1{
      font-size: 1.7rem;
    }
    
    header .text-box-slide p{
        font-size: 1rem;
      }
      

    } 


@media (max-width: 575px){
    .logo-viajes{
        width: 40px;
        height: 40px;
    }
    
    header .text-box-slide p{
        display: none;
      }
    
    .destacados h2{
        font-size: 2.7rem;
    }

    .destacados .card{        
        height: 200px;
        margin-right: 0;
    }

    .contacto h3{
        font-size: 2.7rem;
    }
    
    
}